@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  border: 3px solid #ccc;
}


:root {
  --headerHeight: 96px,
  --brown: #7D6352
}

html {
  font-family: 'Poppins', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
